pyrogram>=2.0.30
imdbpy==2022.7.9
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
cinemagoer
gunicorn==20.1.0
umongo==3.0.1
requests
render
Flask==1.1.2
bs4
heroku3
pynewtonmath
pytz
aiohttp
jinja2
escape
